.scroll {
    width: 20%;
    border: 1px solid black;
    white-space: nowrap;
    overflow-x: auto;
}

.scroll::-webkit-scrollbar{
    height: 8px;

}

.scroll::-webkit-scrollbar-thumb {
    
    border-radius: 4px;
    background: lightgray;
}

